<h1 class="whiten">Editing Creature</h1>

<%= render 'form' %>

<button class="btn btn-primary btn-xs glyphicon glyphicon-plus pull-left"><%= link_to 'Show', @creature %></button> |
<button class="btn btn-primary btn-xs glyphicon glyphicon-plus pull-left"><%= link_to 'Back', creatures_path %></button>
